site_name: Робот и Точка
repo_name: RusHydra/robot
repo_url: https://github.com/rushydra/robot/
theme:
  name: material
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
      primary: deep purple
      accent: purple
    - scheme: slate
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
      primary: deep purple
      accent: purple

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true      
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list
plugins:
   - search:
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
   - swagger-ui-tag
   - enumerate-headings:
      exclude:
        - index.md
        - glossary.md        
nav:
  - Домашняя страница: 
    - index.md
  - Документация: 
    - glossary.md
    - generalinfo.md
    - business_processes.md
    - requirements.md
    - model.md
    - architecture.md    
    - ui.md
  - API: api.md
  - Схемы: diagrams.md
  - Тесты: testcase.md
  - Задачи:
    - План: task.md
    - Шаблоны: template.md
